.sidenav{
    width: 200px;
}

.sidenav .logo{
    display: block;
}

.collapsible-link{
    padding-left: 48px !important;
}

#divider-sidebar{
    margin-top: 0px;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active, .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active{
    background-color: #00b0ff;
}

/* untuk menghapus logo pada sidebar */
@media (max-width: 1030px) {
    .sidenav .logo{
        display: none;
    }
}

.sidenav > li.active {
    background-color: #00b0ff;
}

.sidenav > li.active > a{
    color: #ffffff;
}